    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>First Steps</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>The first step to machine learning to get the data. Data is taken from the twitch web page every 10 minutes. Possible features are extracted and then saved into a database for use with the machine learning model </p>
            </div>
            <div class="col-lg-4" align="center">
                <i class="fa fa-twitch fa-5x" aria-hidden="true"></i>
                <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
                <i class="fa fa-database fa-5x" aria-hidden="true"></i>
                <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
                <i class="fa fa-cog fa-spin fa-5x" aria-hidden="true"></i>
                <br>
                <br>
                <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>

                <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>

            </div>
        </div>
    </div>
