    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>First Steps</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>The first step to machine learning to get the data. Data is taken from the twitch web page every 10 minutes. Possible features are extracted and then saved into a database for use with the machine learning model </p>
            </div>
            <div class="col-lg-4" align="center">

                <a href="https://api.twitch.tv/kraken/streams?limit=100&offset=0" class="links">
                    <i class="fa fa-twitch fa-5x" aria-hidden="true"></i>
                </a>
                <a href="http://www.giantbomb.com/api/game/3030-24024/?api_key=94bbf300f268659d00d7ad890c3cadcee955a765&format=json" class="links">
                    <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
                </a>
                <i class="fa fa-database fa-5x" aria-hidden="true"></i>
                <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
                <i class="fa fa-cog fa-spin fa-5x" aria-hidden="true"></i>
                <br>
                <br>
                <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>

                <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>

            </div>
        </div>
    </div>
