
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <br>
                <h2>Why Twitch?</h2>
                <br>
                <p>Twitch.tv is one of the newest platforms for internet live streaming. Although the current focus is video games, it has been rapidly expanding to cover a variety of sectors such as painting, talk shows, and live performances. With a user base of 1.5 million broadcasters and 100 million visitors per month, it is the future of internet TV and social media.</p>
            </div>
            <div class="col-md-4">
                <div class="description">
                    <img src=" {{ url_for('static', filename='img/broadcasters.png') }}">
                </div>
            </div>
            <div class="col-md-4">
                <br>
                <h2>Machine Learning</h2>
                <br>
                <p>Broadcasters need better analytics in order to increase their viewership. Likewise, professional tournaments rely heavily on viewer counts to demonstrate popularity of their event. Information such as optimal dates and times to stream and which games are popular can be determined through machine learning.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="description">
                    <img src=" {{ url_for('static', filename='img/graph.png') }}">
                </div>
            </div>
            <div class="col-md-4">
                <br>
                <h2>Broadcasters</h2>
                <br>
                <p>Many streamers have engaged with Twitch.tv to becomes partners and produce content full time. They collect revenue through a variety of avenues: monthly subscriptions, donations , commercials, and sponsorships. All of these revenue streams can be directly related to the number of viewers watching.</p>
            </div>
            <div class="col-md-4">
                <div class="description">
                    <img src=" {{ url_for('static', filename='img/audience.png') }}">
                </div>
            </div>
        </div>
    </div>