
{% block contacts %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Future</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" align="center">
        <p>Next steps are to extract more features and compile them into a better and more robust machine learning model</p>
        <br>
        <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
        <br>
        <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
        <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
        <i class="fa fa-cog fa-spin fa-5x" aria-hidden="true"></i>
        <i class="fa fa-arrow-left fa-5x" aria-hidden="true"></i>
        <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
        <br>
        <i class="fa fa-bar-chart fa-5x" style="color: #DAA520;" aria-hidden="true"></i>

        </div>
    </div>
</div>

{% endblock %}