{% extends 'base.html' %}

{% block title %}Twitch Ex Machina{% endblock %}
{% block content %}

<header>
    {% include 'header.html' %}
</header>

<section id="description">
    {% include 'description.html' %}
</section>

<section id="portfolio">
    {% include 'portfolio.html' %}
</section>

    <!-- About Section -->
<section class="success" id="about">
    {% include 'about.html' %}
</section>

    <!-- Contact Section -->
<section id="contact">
    {% include 'contact.html' %}
</section>

    {% include 'footer.html' %}
{% endblock %}
