    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Enter the Machine</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="wrapper">
                    <p>With the data now streaming into our database, we can apply machine learning models to each feature we have and create a predictive model</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">

                <img src=" {{ url_for('static', filename='img/plots/machine.png') }}" align="center">
            </div>
        </div>
    </div>
