    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>The Machine</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="wrapper">
                    <p>Select Features</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">

                {% include 'plots/live.html' %}

            </div>
        </div>
    </div>
