{% extends 'bootstrap/base.html' %}

{% block title %}The Machine{% endblock %}

{% block content %}
    <div id="games">
                    <input class="nput-large"
                           name="game"
                           type="text"
                           style="width"
                           placeholder="Games">

                </div>

{% endblock %}

{% block scripts %}
    <script src="https://twitter.github.io/typeahead.js/js/jquery-1.10.2.min.js"></script>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock %}
