.logo img{
    float: right;
    width: 25%;
}

.description {
    vertical-align: middle;

}
.description img {
    width: 100%;
    padding: 15% 0 0 0;
}

.wrapper {
    padding: 0 15% 0 15%;
}

.links a {
    color: #FFFFFF;
}

#games .btn {
    vertical-align: bottom;
}

